# virtual environment
.venv/

# vscode
.vscode/

# python cache
__pycache__/
*.pyc

# notebooks checkpoints
.ipynb_checkpoints/

# OS files
.DS_Store

# data outputs (optional if you don't want tracking)
